@using System.Web.Http.Description
@using PrediLiga.Api.Areas.HelpPage
@model IGrouping<string, System.Web.Http.Description.ApiDescription>

<h2 id="@Model.Key">@Model.Key</h2>
<table class="help-page-table">
    <thead>
        <tr><th>API</th><th>Description</th></tr>
    </thead>
    <tbody>
        @foreach (ApiDescription api in Model)
        {
            <tr>
                <td class="api-name"><a href="@Url.Action("Api", "Help", new {apiId = api.GetFriendlyId()})">@api.HttpMethod.Method @api.RelativePath</a></td>
                <td class="api-documentation">
                    @if (api.Documentation != null)
                    {
                        <p>@api.Documentation</p>
                    }
                    else
                    {
                        <p>No documentation available.</p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>